.App-body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  font-size: calc(10px + 2vmin);
  background-color: antiquewhite;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 30vw;
  min-width: 200px;
}

.login-note {
  font-size: 12px;
}

.input {
  background-color: white;
}

.mailbox {
  display: flex;
  justify-content: left;
  width: 90vw;
  margin: 50px;
  text-align: left;
}

.mailbox-header {
  display: flex;
  justify-content: space-around;
}

.error {
  color: red;
}

.message {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: white;
}

.message:hover {
  box-shadow: 3px 3px 5px #ccc;
}

.selected {
  background-color: rgb(232, 235, 222);
}

.full-message {
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
  font-size: 18px
}

.full-message-header {
  background-color: rgb(120, 120, 120);
  color: white;
}

.notes-area {
  width: 100%;
  font-size: 18px;
}

.fit-image {
  width: 80vw;
  margin: 30px;
  max-height: 60vh;
}

.update-message {
  color: green;
  font-size: 18;
  margin-left: 30px;
}

.bold {
  font-weight: 600;
  margin-right: 10px;
}